name: security-checks

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  python-and-terraform-security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit
        run: bandit -q -r app

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt check
        run: terraform fmt -check -recursive infra/terraform

      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: infra/terraform
          additional_args: --minimum-severity HIGH

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: infra/terraform
          framework: terraform
          quiet: true
          soft_fail: false
          soft_fail_on: LOW,MEDIUM
          hard_fail_on: HIGH,CRITICAL
